body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-width: 960px;
    margin: 0;
}

header {
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 20px;
    display: flex;
    height: 70px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    
}

main {
    text-align: center;
    margin: 0 0 -4px 0;
}

.button {
    background-color: #4284D3;
    color: black;
    text-decoration: none;
    padding: 9px;
    font-size: 18px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 9px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 0px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    max-width: 960px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

article {
    background-color: white;
    padding: 10px;
    width: 390px;
    text-align: center;
    margin: 30px;
    height: 420px;
}

.article-but {
    text-decoration: none;
    background-color: #1240AB;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #6C8CD5;
    padding: 20px 0;
    align-items: center
}

footer a {
    margin-left: 30px;
}

footer p {
    font-size: 24px;
    margin-right: 30px;
}

.artimg {
    max-width: 300px;
    height: 210px;
}
